body {
    background-color: #19191a;
    
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.paragraph-1
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}