form {
    width: 80%;
    margin: 0 auto;
}

label,
input {
   /* In order to define widths */
   display: inline-block;
}

label {
   width: 30%;
   /* Positions the label text beside the input */
   text-align: right;
}

label+input {
   width: 30%;
   /* Large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
   margin: 0 30% 10px 4%;
}

.buttonHolder{
   text-align: center;
}